body {
	background:#0c5ca4;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:georgia;
	text-align:center;
}
h1 { }
a { color:skyblue }

#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #abc !important }
#stats #fps #fpsGraph { display: none }

#banner {
	color:red;
	top:2em;
	width: 90%;
	font-weight:bold;
	position:absolute;
	z-index:100;
	text-align: left;
	padding-left:5em;
	text-shadow: #000 0px 0px 10px;
}

#banner img{
	width:380px;
}

#switchgear {
	top:26em;
	width: 90%;
	padding-left:5em;
	z-index:100;
	position:absolute;
	text-align: left;
}